{{.Indent}}if len({{.OwnerPath}}.{{.FieldName}}) == 0 {
{{.Indent}}   defs = append(defs, {{.NilDepth}})
{{.Indent}}   reps = append(reps, lastRep)
{{.Indent}}}else {
{{.Indent}}   for {{.PosVar}}, {{.ItemVar}} := range {{.OwnerPath}}.{{.FieldName}} {
{{.Indent}}      if {{.PosVar}} == 1 {
{{.Indent}}          lastRep = {{.Depth}}
{{.Indent}}      }
{{.Indent}}      defs = append(defs, {{.Depth}})
{{.Indent}}      reps = append(reps, lastRep)
{{.Indent}}      vals = append(vals, {{.ItemVar}})
{{.Indent}}  }
{{.Indent}}}
