
func read{{.FieldName}}(x *{{.OwnerType}}) ([]{{.ParquetType}}, []uint8, []uint8) {
	switch {
	case x.{{.FieldName}} == nil:
		return nil, []uint8{0}, nil
	default:
		return []{{.ParquetType}}{*x.{{.FieldName}}}, []uint8{1}, nil
	}
}


func write{{.FieldName}}(x *{{.OwnerType}}, vals []{{.ParquetType}}, defs, reps []uint8) (int, int) {
	def := defs[0]
	switch def {
	case 1:
	    ptr := {{.FieldType}}(vals[0])
		x.{{.FieldName}} = &ptr
		return 1, 1
	}

	return 0, 1
}
